
 body {
    overflow-x: hidden;
 }


#wrapper {
    padding-left: 0;
/*
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
*/
    
}
#wrapper.toggled {
    padding-left: 200px;
}

